  <section class="main-header">
            <div id="notice" class="bg-success"><%= notice %><%= alert %></div>
  </section>
  <section class="about">
    <h1>入れるなら説明</h1>
    <p>
      説明文いれる？
  </section>